{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div>
    <style>

        *{
         font-family: 'Raleway', sans-serif;
        }
        .login-form {
          width: 100%;
          height: 100vh;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background: url("/static/bg-login.png");
        }
        .form-signin{
          width: 100%;
          max-width: 330px;
          padding: 15px;
          margin: auto;
        }
        .bg-alunos{
          background-image: url('https://content.gallup.com/origin/gallupinc/GallupSpaces/Production/Cms/POLL/qvqeurkwn0ckh-rjaazisw.jpg');
          width: 100%;
          height: 100vh;
          z-index: 1;
          position: absolute;
          opacity: 0.4;
        }
        .login-form-input {
          text-align: center;
          margin: 20px 0px;
          border-radius: 12px;
          box-shadow: inset 0px -1px 4px 0px #00000042;
          color: #6c6d75;
        }
        .btn-login {
          font-size: smaller;
          font-weight: 700;
          border: none;
          border-radius: 15px;
          height: 40px;
          width: 150px;
        }
        .btn-login-color {
          background-color: #7895a5;
        }
        .btn-senha-color {
          padding: 12px;
          font-size: 11px;
          background-color: #78a596;
        }
        .logo-login {
            width: 400px;
            position: absolute;
            z-index: 99;
            margin-left: calc(50vw - 180px);
            margin-top: 49px;
        }
        .imagem-profile {
        background-color: white;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        border: solid #fff;
    }
    /*!
     * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
     * Copyright 2013-2019 Start Bootstrap
     * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
     */
    body {
      overflow-x: hidden;
      height: 100%;
    }

    #sidebar-wrapper {
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }


    #page-content-wrapper {
      min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }

    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }

      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }

      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    }
    .sidebar-itens {
        background-color: #0ba9ec !important;
        border-right: solid 7px #ffffff !important;
        min-width: 50px;
        max-width: 135px;
    }
    .itens-menu {
        background-color: transparent;
        padding: 26px 0px;
        border: none;
        color: #fff;
        text-align: center;
        transition: background-color 1s;
    }

    .itens-menu:hover {
        background-color: #00000012;
        color: #fff;
    }
    .itens-menu:hover i {
      text-shadow: 0px 3px 5px #00000047;
    }

    .icone-menu {
      transition: text-shadow 0.5s;
      font-size: 40px;
    }
    .title-page {
        font-weight: bolder;
        color: #4e4c61;
        float: left;
    }
    .content-itens{
      padding: 10px 60px;
    }
    .imagem-profile-sidebar {
      background-image: url('https://www.loginradius.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png');
      background-size: cover;
        border: solid white;
    }
      </style>
  <style>
    textarea {
      width: 300px;
      height: 80px;
    }
    label {
      display: block;
      font-weight: 700;
      color: #838383;
    }
    textarea {
      width: 100%;
      border-radius: 8px;
      border: solid 2px #8f8f8f;
      margin-top: 15px;
  }
  input[type="file" i] {
    padding: 20px;
    background-color: #f0f0f0;
    font-weight: 500;
    color: #006490;
}
select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px #8f8f8f;
    margin-top: 15px;
}
.btn-save {
    background-color: #0891cd;
    padding: 10px;
    width: 100px;
    float: right;
    margin-bottom: 16px;
    color: white;
    font-weight: 600;
    border-radius: 11px;
    border: none;
}

  </style>
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }
    ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    ::-webkit-scrollbar-thumb {
      background: #0ba9ec;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #25b7f5;
    }
    ::-webkit-scrollbar-thumb:active {
      background: #0ba9c8;
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border: 0px none #ffffff;
      border-radius: 34px;
    }
    ::-webkit-scrollbar-track:hover {
      background: #ffffff;
    }
    ::-webkit-scrollbar-track:active {
      background: #ffffff;
    }
    ::-webkit-scrollbar-corner {
      background: transparent;
    }
    </style>
  <div class="container-fluid content-itens" style="padding: 10px 30px;">
  <div style="text-align: right;">
  <input onchange='disableImageSuporte()' type="radio" name="tipoSuporte" value="text"> Texto
  <input onchange='disableTextSuporte()'type="radio" name="tipoSuporte" value="image"> Imagem
  </div>
    <div>
      <div class="row">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}

          <h1 class="mt-4" style="
    font-weight: bolder;
    color: #4e4c61;
">Criar as Alternativas</h1>
<div style="text-align: right;">
<input onchange='disableImage()' type="radio" name="tipo" value="text"> Texto
<input onchange='disableText()'type="radio" name="tipo" value="image"> Imagem
</div>
<hr>
          {% for i in alternativas %}
          <h4>Alternativa {{i}}</h4>

          <p>
              <label for="id_correta{{ forloop.counter }}">Correta:</label>
              <input type="checkbox" onclick='selectOnlyThis("{{forloop.counter}}")' name="correta{{ forloop.counter }}"  id="id_correta{{ forloop.counter }}">
            </p>
            <p>
              <label for="id_texto{{ forloop.counter }}">Texto:</label>
              <textarea  disabled name="texto{{ forloop.counter }}" cols="40" rows="10" id="id_texto{{ forloop.counter }}"></textarea>
            </p>
            <p>
              <label for="id_imagem{{ forloop.counter }}">Imagem:</label>
              <input disabled type="file" name="imagem{{ forloop.counter }}" saccept="image/*" id="id_imagem{{ forloop.counter }}">
            </p>
          <hr>
          {% endfor %}

          <input class="btn-save" type="submit" value="Salvar"/>
          <script>

            x = document.getElementsByName("suporte_imagem")
            for(var i = 0; i < x.length; i++){
              x[i].disabled= true;
            }
            z = document.getElementsByName("suporte_texto")
              for(var i = 0; i < z.length; i++){
                z[i].disabled = true;
              }

            function disableInput(id){
              document.getElementById(id).disabled = true;
            }

            function disableImage(){
              z = 5
              for(var i = 1; i <= z; i++){
                document.getElementById("id_texto" + i).disabled = false;
                document.getElementById("id_imagem" + i).disabled = true;
              }
            }

            function disableText(){
              z = 5
              for(var i = 1; i <= z; i++){
                document.getElementById("id_texto" + i).disabled = true;
                document.getElementById("id_imagem" + i).disabled = false;
              }
            }

            function disableImageSuporte(){
             z = document.getElementsByName("suporte_texto")
              for(var i = 0; i < z.length; i++){
                z[i].disabled = false;
              }
              x = document.getElementsByName("suporte_imagem")
              for(var i = 0; i < x.length; i++){
                x[i].disabled= true;
              }
            }
            function disableTextSuporte() {
              x = document.getElementsByName("suporte_imagem")
              for(var i = 0; i < x.length; i++){
                x[i].disabled= false;
              }
              z = document.getElementsByName("suporte_texto")
                for(var i = 0; i < z.length; i++){
                  z[i].disabled = true;
                }
            }

            function selectOnlyThis(id) {
              for (var i = 1;i <= 5; i++)
                  {
                      document.getElementById("id_correta"+ i).checked = false;
                  }
                  document.getElementById("id_correta"+ id).checked = true;
              }
          </script>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
