{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div id="page-content-wrapper">
  <style>
    .item {
      background-color: white;
      border-radius: 15px;
      min-height: 276px;
      max-height: 276px;
      border: solid 2px #949494;
      overflow: hidden;
      text-overflow: ellipsis
    }
    .itens-container{
      padding: 50px 0px;
    }
    .item-enunciado {
      font-weight: 600;
      text-align: center;
      padding: 29px 10px;
      vertical-align: middle;
      height: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .item-dificuldade{
      text-align: right;
      font-weight: 600;
      text-transform: uppercase;
      color: #d8883f;
    }
    .item-more-details{
      text-align: center;
      font-weight: 700;
    }
    .muito-facil{
      color:#5fd27f;
    }
    .facil{
      color:#33b758;
    }
    .medio{
      color:#ecb713;
    }
    .dificil{
      color:#e45a5a;
    }
    .muito-dificil{
      color:#c30000;
    }
    .novo-item {
      float: right;
      background-color: #0ba9ec;
      color: white;
      padding: 8px 35px;
      border-radius: 15px;
      border: none;
  }
  .input-banco-itens {
      height: 46px;
      border-radius: 15px;
      box-shadow: inset 1px -3px 5px 0px #00000014;
      outline: none;
  }
  </style>
  <div class="container-fluid content-itens">
    <div>
      <h1 class="mt-4 title-page">Itens</h1>
      <button class="mt-4 novo-item" type="button" >Novo Item</button>
    </div>

    <div style="margin-top: 100px;">
      <form action="{% url 'item_list' %}" method="get">
        <input type="text" name="q"  class="form-control input-banco-itens">
      </form>
    </div>
    <div>
      <h1>Resultados:</h1>
        <ul>
            {% for obj in object_list %}
              <li>
                {{ obj }}
              </li>
            {% endfor %}
          </ul>
          <hr>
    </div>

    <div class="itens-container">
    <div class="row">
    {% for item in itens %}
        <div class="item mt-2 ml-2 col-lg-2 col-md-2 col-sm-2 ">
          <div class="  ">
            <div class="item-dificuldade">
              <b class="{% if item.dificuldade == 'medio' %} medio {% endif %}{% if item.dificuldade == 'facil' %} facil {% endif %}{% if item.dificuldade == 'muito_facil' %} muito-facil {% endif %}{% if item.dificuldade == 'dificil' %} dificil {% endif %}{% if item.dificuldade == 'muito_dificil' %} muito-dificil {% endif %}">{{ item.dificuldade }}</b>
            </div>
            <div class="item-enunciado">
              <p>{{ item.enunciado }}</p>
              <p>{{ item.suporte_texto }}</p>
              <p>{{ item.comando }}</p>
            </div>
            <div class="item-more-details">
              <a href="#">Mais Detalhes</a>
            </div>
          </div>
        </div>
    {% empty %}
        <div>No articles yet.</div>
    {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
