{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div id="page-content-wrapper">
  <style>
    .item {
      background-color: white;
      border-radius: 15px;
      min-height: 276px;
      max-height: 276px;
      border: solid 2px #949494;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 23%;
      transition: ease-in-out box-shadow 0.4s;
      cursor: pointer;
    }
    .item:hover{
      box-shadow: 0px 7px 11px 0px #00000061;
    }
    .itens-container{
      padding: 50px 0px;
    }
    .item-enunciado {
      font-weight: 600;
      text-align: center;
      padding: 0px 10px;
      vertical-align: middle;
      height: 197px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: table;
    }
    .item-dificuldade{
      text-align: right;
      font-weight: 600;
      text-transform: uppercase;
      color: #d8883f;
    }
    .item-more-details{
      text-align: center;
      font-weight: 700;
    }
    .muito-facil{
      color:#5fd27f;
    }
    .facil{
      color:#33b758;
    }
    .medio{
      color:#ecb713;
    }
    .dificil{
      color:#e45a5a;
    }
    .muito-dificil{
      color:#c30000;
    }
    .novo-item {
      float: right;
      background-color: #0ba9ec;
      color: white;
      padding: 8px 35px;
      border-radius: 15px;
      border: none;
  }
  .input-banco-itens {
      height: 46px;
      border-radius: 15px;
      box-shadow: inset 1px -3px 5px 0px #00000014;
      outline: none;
  }
  .background-modal {
    background-color: #08080da3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 2;
}
.item-modal-custom {
    background-color: white;
    z-index: 99;
    width: 50%;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 8px 19px 0px #00000066;
    display: none;
    margin: 0 auto;
    position: absolute;
    margin-left: 19%;
    margin-right: 20%;
    top: 10px;
}
.table-cabecalho {
    width: 100%;
}
.table-cabecalho-title{
  width: 90%
}
.btnClose{
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: #707c86;
    outline: none;
}
.correta {
    color: #28e728;
    font-weight: 800;
}

.modalCriarItem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000009e;
    z-index: 9;
    margin: 0 auto;
    display: none;
}
.iframeModalCriarItem {
    margin: 0 auto;
    margin-left: 30%;
    margin-top: 30px;
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 9px 20px #00000085;

}
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <div id="modalCriarItem" class="modalCriarItem">
      <button style="
        position: absolute;
        right: 412px;
        top: 50px;
    "
    " class="btnClose" onclick="closeModal()"><i class="far fa-times-circle"></i></button></tr>

          <iframe id="encoder_iframe" height=90% width="50%" src="{% url 'item_create' %}" class="iframeModalCriarItem">
            </iframe>


  </div>
  <script>
      function openModalCreate() {
        var x = document.getElementById("modalCriarItem");
        if (x.style.display === "none") {
          x.style.display = "block";
          document.body.style.overflow = "hidden"
        } else {
          x.style.display = "none";
          document.body.style.overflow = "auto"
        }
      };
      function closeModal(){
        location.reload();
      };
  </script>
  <div class="container-fluid content-itens">
    <div>
      <h1 class="mt-4 title-page">{{title}}</h1>
      <button class="mt-4 novo-item" type="button" onclick="openModalCreate()">Novo Item</button>
    </div>
    {% if isMyItens %}
    <div style="margin-top: 100px;">
      <form action="{% url 'my_item_list' %}" method="get">
        <input type="text" name="q"  class="form-control input-banco-itens" placeholder="Pesquisar">
      </form>
    </div>
    {% else %}
    <div style="margin-top: 100px;">
      <form action="{% url 'item_list' %}" method="get">
        <input type="text" name="q"  class="form-control input-banco-itens" placeholder="Pesquisar">
      </form>
    </div>
    {% endif %}
    <div class="itens-container">
    <div class="row">
    {% for item in itens %}
        <div class="item mt-2 ml-2 col-lg-3 col-md-3 col-sm-3 " onclick="openModal('itemModal{{ item.id }}')">
          <div class="  ">
            <div class="item-dificuldade">
              <b class="{% if item.dificuldade == 'medio' %} medio {% endif %}{% if item.dificuldade == 'facil' %} facil {% endif %}{% if item.dificuldade == 'muito_facil' %} muito-facil {% endif %}{% if item.dificuldade == 'dificil' %} dificil {% endif %}{% if item.dificuldade == 'muito_dificil' %} muito-dificil {% endif %}">{{ item.dificuldade }}</b>
            </div>
            <div class="item-enunciado">
              <p style="display: table-cell;vertical-align: middle;">{{ item.enunciado|slice:":205" }}...</p>

            </div>

            <div class="item-more-details">
              <button type="button" class="btn btn-cta-secondary" onclick="openModal('itemModal{{ item.id }}')"><a href="#">Mais Detalhes</a></button>
            </div>
            <script>
                function openModal(idModal) {
                  var x = document.getElementById(idModal);
                  var y = document.getElementById("background-modal");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                    y.style.display = "block";
                    document.body.style.overflow = "hidden"
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                    // window.location.hash = '#' + idModal;
                  } else {
                    x.style.display = "none";
                    y.style.display = "none";
                    document.body.style.overflow = "auto"
                  }
                }
            </script>
          </div>
        </div>
        <div id="background-modal" class="background-modal"></div>
        <div class="item-modal-custom" tabindex="-1" role="dialog" id="itemModal{{ item.id }}">
          <div class="cabecalho-modal">
            <table class="table-cabecalho">
              <tr>
                <td class="table-cabecalho-title">
                    <h1>Detalhes</h1>
                </td>
                <td>
                    <button class="btnClose" onclick="openModal('itemModal{{ item.id }}')"><i class="far fa-times-circle"></i></button>
                </td>
              </tr>
            </table>
          </div>
          <div class="conteudo-modal">
              {% for curso in item.cursos.all %}
                <b>{{curso.nome}}</b>
              {% endfor %}

              {% for und_curr in item.unidades_curriculares.all %}
                <p style="color: #8f8f8f;">{{und_curr.nome}}</p>
              {% endfor %}
              <b style="
              text-transform: uppercase;
              font-weight: bold;
          "class="{% if item.dificuldade == 'medio' %} medio {% endif %}{% if item.dificuldade == 'facil' %} facil {% endif %}{% if item.dificuldade == 'muito_facil' %} muito-facil {% endif %}{% if item.dificuldade == 'dificil' %} dificil {% endif %}{% if item.dificuldade == 'muito_dificil' %} muito-dificil {% endif %}"">{{item.dificuldade}}</b>
              <p>{{ item.enunciado }}</p>
              {% if item.suporte_imagem %}
               <img src="media/{{item.suporte_imagem}}" alt="{{ item.enunciado }}" style="max-width: 40%;">

              {% else %}
                <p>{{ item.suporte_texto }}</p>
              {% endif %}

              <p>{{ item.comando }}</p>
          </div>
          <div class="item-alternativas">
              {% for alternativa in item.alternativas.all %}
              <table>
                <tr>
                  {% if forloop.counter0 == 0 %}
                  <td class="{% if alternativa.correta %} correta {% endif %}">A)</td>
                  {% elif forloop.counter0 == 1 %}
                  <td class="{% if alternativa.correta %} correta {% endif %}">B)</td>
                  {% elif forloop.counter0 == 2 %}
                  <td class="{% if alternativa.correta %} correta {% endif %}">C)</td>
                  {% elif forloop.counter0 == 3 %}
                  <td class="{% if alternativa.correta %} correta {% endif %}">D)</td>
                  {% elif forloop.counter0 == 4 %}
                  <td class="{% if alternativa.correta %} correta {% endif %}">E)</td>
                  {% endif %}
                  {% if alternativa.imagem %}
                    <td>
                      <img style="max-width: 150px;max-height: 150px;" src="media/{{ alternativa.imagem }}" alt="{{ alternativa.texto }}">
                    </td>
                  {% else %}
                    <td class="{% if alternativa.correta %} correta {% endif %}">
                        {{ alternativa.texto }}
                    </td>
                  {% endif %}
                </tr>
              </table>
              {% endfor %}
            </div>
        </div>
    {% empty %}
        <div>No articles yet.</div>
    {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
